:root {
  --fontFamily--primary: "Source Sans Pro", Helvetica, Arial, sans-serif;
  --fontFamily--secondary: "Source Sans Pro", Helvetica, Arial, sans-serif;

  --primary1: #a72a8c;
  --primary2: #c747ab;
  --theme1: #ffffff;
  --theme2: #f3f3f3;
  --theme3: #e1e1e1;
  --theme4: #dddddd;
  --theme5: #cccccc;
  --error1: #d06e6e;
  --info1: var(--primary1);
  --success1: #bdd075;

  --text1: #333333;
  --text2: #4d4d4d;
  --text3: #666666;
  --textAlt1: #ffffff;
  --textAlt2: #cccccc;
  --textAlt3: #999999;
  --errorText: #821717;

  --app__bg-color: var(--theme1);

  --loading_bg-color: var(--primary1);

  --button__border-color: var(--text3);
  --button__color: var(--text2);
  --button__color--focus: var(--text1);
  --button__outline-color--focus: var(--theme5);
  --button__bg-color--hover: var(--theme4);
  --button__border-color--hover: var(--text1);
  --button__color--hover: var(--primary1);
  --button__bg-color--primary: var(--primary1);
  --button__border-color--primary: var(--primary1);
  --button__color--primary: var(--primary1);
  --button__bg-color--primary-hover: var(--primary2);
  --button__border-color--primary-hover: var(--primary1);
  --button__color--primary-hover: var(--text1);
  --button__bg-color--primary-focus: var(--primary2);
  --button__border-color--primary-focus: var(--primary2);
  --button__color--primary-focus: var(--primary1);
  --button__outline-color--primary-focus: #e5b1d9;

  --pageHeader__bg-color: var(--theme2);
  --pageHeader__border-color: var(--theme3);

  --textInput__errors__color: var(--errorText);
  --textInput__input__bgColor: var(--theme1);
  --textInput__input__borderColor: var(--theme5);
  --textInput__input__color: var(--text2);
  --textInput__input__bgColor--focus: var(--theme3);
  --textInput__input__borderColor--focus: var(--primary1);
  --textInput__label__color: var(--text2);
}
